<template data-sly-template.headlibs="${@ page, designPath, staticDesignPath, clientLibCategories, clientLibCategoriesJsHead, hasCloudconfigSupport}"
          data-sly-use.coreHeadlibs="core/wcm/components/page/v3/page/headlibs.html">
    <sly data-sly-call="${coreHeadlibs.headlibs @ page=page, designPath=designPath, staticDesignPath=staticDesignPath, clientLibCategories=clientLibCategories, clientLibCategoriesJsHead=clientLibCategoriesJsHead, hasCloudconfigSupport=hasCloudconfigSupport}"/>
</template>
